#btn {
  padding: 10px 12px;
  background-color: rgb(138, 245, 247);
  border-radius: 28px;
}
.CountriesWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
a:hover {
  color: brown;
  /* font-size: 28px;
  font-weight: 700; */
}
a {
  font-size: 24px;
  font-weight: 500;
}

.search {
  margin-top: 4px;
}
